/*Подключение шрифтов*/
@font-face {
  font-family: "Lucida Sans";
  src: url(./assets/fonts/LucidaSansItalic.ttf);
}

@font-face {
  font-family: "Segoe WP";
  src: url(./assets/fonts/SegoeWP.ttf);
}

@font-face {
  font-family: "Segoe WP Light";
  src: url(./assets/fonts/segoe-wp-light.ttf);
}

@font-face {
  font-family: "Asap Regular";
  src: url(./assets/fonts/Asap-Regular.otf);
}

@font-face {
  font-family: "Segoe UI Light";
  src: url(./assets/fonts/SegoeUILight.ttf);
}

@font-face {
  font-family: "PT Sans Regular";
  src: url(./assets/fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: "Segoe UI";
  src: url(./assets/fonts/Segoe\ UI.ttf);
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url(./assets/fonts/Segoe\ UI\ Bold.ttf);
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url(./assets/fonts/PTSansNarrow-Bold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

body {
  width: 1300px;
  margin: 0 auto;
}
/*Начало стилей верхнего блока*/
.topBlock {
  padding: 28px 0 68px 0;
  background-image: url(./assets/images/bgHeader.jpg);
  background-size: cover;
  -webkit-box-shadow: inset 0px -13px 10px -13px rgba(0,0,0,0.75);
  box-shadow: inset 0px -13px 10px -13px rgba(0,0,0,0.75);
}
/*Центрирование контента*/
.wrapper {
  width: 1020px;
  margin: 0 auto;
}
/*Стили header*/
header {
  display: flex;
  justify-content: space-between;
}
/*Стили логотипа*/
.logo {
  display: flex;
  justify-content: space-between;
  width: 316px;
}

.logo h1 {
  padding: 22px 6px 0 0;
}

.logo h1 a{
  font: 2.5656rem "Lucida Sans";
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
/*Стили панели навигации*/
nav ul {
  display: flex;
  background-color: #f5c506;
  margin-top: 43px;
  box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
}

nav ul li a {
  display: block;
  position: relative;
  transition: 0.5s;
  font: 1.0656rem "Segoe WP";
  color: #9b7d08;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: #fdea9c;
}

.aboutUs {
  padding: 9px 23px 10px 69px;
  border-right: 1px solid #DCB105;
}

.aboutUs:before {
  content: url(./assets/images/icon/person.png);
  position: absolute;
  top: 11px;
  left: 39px;
}

.services {
  padding: 9px 18px 10px 42px;
  border-right: 1px solid #DCB105;
}

.services:before {
  content: url(./assets/images/icon/services.png);
  position: absolute;
  top: 11px;
  left: 14px;
}

.contact {
  padding: 10px 22px 8px 49px;
}

.contact:before {
  content: url(./assets/images/icon/contact.png);
  position: absolute;
  top: 11px;
  left: 17px;
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}
.topBlock .video {
  display: inline-block;
  position: relative;
  margin-left: 9px;
}

.topBlock .video video {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/*Стили для кнопок видео*/
.bigButtonPlay {
  position: absolute;
  top: 130px;
  left: 241px;
  width: 67px;
  height: 67px;
  padding: 6px 0 0 5px;
  background-color: rgba(245, 196, 6, 0.72);
  border-radius: 33.5px;
  border: none;
}

.smallButtonPlay {
  position: absolute;
  top: 278px;
  left: 29px;
  width: 27px;
  height: 27px;
  padding: 4px 0 0 4px;
  background-color: rgba(245, 196, 6, 0.37);
  border: none;
}

.smallButtonPlay svg {
  opacity: 0.37;
}

.volume {
  position: absolute;
  top: 285px;
  right: 19px;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  border: 0;
}
/*Стилизация прогрессбара*/
progress {
  position: absolute;
  top: 286px;
  left: 80px;
  border: none;
  height: 12px;
  width: 404px;
  border-radius: 6px;
  background-color: rgba(245, 196, 6, 0.15);
}

progress::-webkit-progress-bar {
  height: 12px;
  width: 404px;
  border-radius: 6px;
  background-color: rgba(245, 196, 6, 0.15);
}
progress::-webkit-progress-value {
  height: 12px;
  width: 404px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(245, 196, 6);
}
progress::-moz-progress-bar {
  height: 12px;
  width: 404px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(245, 196, 6);
}

progress::-ms-fill {
  height: 12px;
  width: 404px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(245, 196, 6);
  border-right: none;
}
/*Текст слайдера*/
.slider h2 {
  font: 3.9406rem "Asap Regular";
  color: #f5c506;
  width: 398px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 70px 23px 0 0;
}

.slider h2 span {
  color: #fff;
}
/*Кнопки вперёд назад слайдера*/
.leftArrow, .rightArrow {
  position: absolute;
  padding-top: 2px;
  top: 132px;
  width: 32px;
  height: 57px;
  border: none;
  background-color: rgb(245, 196, 6);
}

.leftArrow:hover, .rightArrow:hover {
  background-color: rgba(245, 196, 6, 0.71);
}

.leftArrow{
  padding-left: 3px;
  left: -140px;
}

.rightArrow {
  padding-right: 3px;
  right: -140px;
}
/*Стилизация 3 одинаковых блоков*/
.svgIcons {
  background-image: url(./assets/images/lineBg.png);
}

.svgIcons .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.svgIcons .wrapper h3 {
  font: 1.6906rem "Segoe UI Light";
  text-transform: uppercase;
}

.betterDesign {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.betterDesign svg {
  margin: 61px 0 0 113px;
}

.betterDesign h3 {
  margin: 6px 0 32px 89px;
}

.customise {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.customise svg {
  margin: 37px 0 0 135px;
}

.customise h3 {
  margin: 9px 0 32px 111px;
}

.itsFree {
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.itsFree svg {
  margin: 54px 0 0 119px;
}

.itsFree h3 {
  margin: 4px 0 32px 113px;
}
/*Стили блока с интерактивом*/
.interactive {
  background-image: url(./assets/images/bgInteractive.jpg);
  -webkit-box-shadow: inset 0px -13px 10px -13px rgba(0,0,0,0.75);
  box-shadow: inset 0px 13px 10px -13px rgba(0,0,0,0.75);
  padding-bottom: 21px;
}

.interactive h3 {
  font: 2.3156rem "PT Sans Regular";
  color: #fff;
  text-transform: uppercase;
  padding: 32px 0 0 3px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 129px;
}
/*Стили блока с прикреплённым календарём*/
.note {
  position: relative;
  width: 341px;
  box-sizing: border-box;
  background-color: #ec9e03;
  padding: 16px 37px 0 31px;
}

.note p {
  font: 1.8156rem "Segoe WP Light";
  color: #fff;
}

.note button {
  position: absolute;
  bottom: 9px;
  right: 15px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.note .date {
  position: absolute;
  left: 0;
  bottom: -86px;
  width: 113px;
  box-sizing: border-box;
  background-color: #ddb101;
}

.note .date p{
  font: 1.3156rem "Segoe UI";
  color: #b26529;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0 3px 0;
}

.note .date p span {
  display: block;
  font: bold 3.1906rem "Segoe UI Bold";
  color: #fff;
  line-height: 0.6;
  padding-bottom: 10px;
}
/*Стили видео в .interactive*/
.interactive .video {
  width: 315px;
  margin-left: -35px;
  position: relative;
  -webkit-box-shadow: 41px 94px 300px -65px rgba(255,255,255,1);
  -moz-box-shadow: 41px 94px 300px -65px rgba(255,255,255,1);
  box-shadow: 41px 94px 300px -65px rgba(255,255,255,1);
}

.interactive .video video{
  display: block;
  border-bottom: none;
}

.interactive .video .bigButtonPlay {
  position: absolute;
  top: 93px;
  left: 130px;
  width: 61px;
  height: 61px;
  padding: 6px 0 0 5px;
  background-color: rgba(245, 196, 6, 0.72);
  border-radius: 30.5px;
  border: none;
}
/*Стили блока twitter*/
.twitter {
  position: relative;
  width: 329px;
  background-color: #ec9e03;
}

.twitter svg {
  padding: 59px 0 0 83px;
}

.twitter span {
  position: absolute;
  right: 21px;
  top: 11px;
  font: 1.5656rem "Segoe WP Light";
  color: #fff;
}

.twitter button {
  position: absolute;
  bottom: 9px;
  right: 9px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
/*Стили для swipeLine*/
.swipeLine {
  width: 896px;
  height: 15px;
  border-radius: 7.5px;
  background-color: rgba(255, 255, 255, 0.48);
  margin-left: 73px;
}

.place {
  width: 197px;
  height: 15px;
  background-color: #ec9e03;
  border-radius: 7.5px;
  margin-left: 247px;
  cursor: pointer;
}
/*Стили для блока с девайсами и списком*/
.beforeFooter {
  background-image: url(./assets/images/bgDevices.jpg);
  padding: 35px 0 75px 0;
  -webkit-box-shadow: inset 0px -61px 9px -57px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -61px 9px -57px rgba(0,0,0,0.75);
  box-shadow: inset 0px -61px 9px -57px rgba(0,0,0,0.75);
}

.beforeFooter .wrapper h3 {
  margin-left: 214px;
  font: 2.6906rem "PT Sans Regular";
  color: #f5c506;
  text-transform: uppercase;
}
/*Стили блока с девайсами*/
.devices {
  position: relative;
  margin:45px 83px 0 18px;
}

.devices img {
  vertical-align: top;
  margin-right: 18px;
}

.tablet {
  padding-top: 42px;
}

.mobile {
  padding-top: 152px;
}

.sale {
  position: absolute;
  top: -43px;
  left: -20px;
  width: 116px;
  height: 116px;
  border-radius: 58px;
  background-color: #f5c506;
  font: 1.1712rem "PT Sans Narrow Bold";
  color: #fff;
  text-transform: uppercase;
  padding: 48px 0 0 7px;
  box-sizing: border-box;
}
/*Стили списка*/
.beforeFooter ul {
  width: 360px;
  font: 1.375rem "Open Sans";
  color: #a9a9a7;
  margin-top: 89px;
}

.beforeFooter ul li {
  margin-bottom: 20px;
  list-style-image: url(./assets/images/icon/ellipse.png);
  padding-left: 13px;
}

.devicePlusUl {
  display: flex;
}

footer {
  background-color: #4c4c4c;
  padding: 6px 0 4px 0;
}

footer .logo {
  width: 223px;
}

footer h2 {
  padding-top: 10px;
  padding-right: 6px;
  text-shadow: 0px 2px 1px #000000;
}

footer h2 a{
  font: 1.8156rem "Lucida Sans";
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
