/*Подключение шрифтов*/
@font-face {
  font-family: "Lucida Sans";
  src: url(./assets/fonts/LucidaSansItalic.ttf);
}

@font-face {
  font-family: "Segoe WP";
  src: url(./assets/fonts/SegoeWP.ttf);
}

@font-face {
  font-family: "Segoe WP Light";
  src: url(./assets/fonts/segoe-wp-light.ttf);
}

@font-face {
  font-family: "Asap Regular";
  src: url(./assets/fonts/Asap-Regular.otf);
}

@font-face {
  font-family: "Segoe UI Light";
  src: url(./assets/fonts/SegoeUILight.ttf);
}

@font-face {
  font-family: "PT Sans Regular";
  src: url(./assets/fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: "Segoe UI";
  src: url(./assets/fonts/Segoe\ UI.ttf);
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url(./assets/fonts/Segoe\ UI\ Bold.ttf);
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url(./assets/fonts/PTSansNarrow-Bold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Aial Regular";
  src: url(./assets/fonts/Asap-Regular.otf);
}

body {
  width: 1300px;
  margin: 0 auto;
}
/*Начало стилей верхнего блока*/
.topBlock {
  padding: 28px 0 68px 0;
  background-image: url(./assets/images/bgHeader.jpg);
  background-size: cover;
  -webkit-box-shadow: inset 0px -13px 10px -13px rgba(0,0,0,0.75);
  box-shadow: inset 0px -13px 10px -13px rgba(0,0,0,0.75);
}
/*Центрирование контента*/
.wrapper {
  width: 1020px;
  margin: 0 auto;
}
/*Стили header*/
header {
  display: flex;
  justify-content: space-between;
}
/*Стили логотипа*/
.logo {
  display: flex;
  justify-content: space-between;
  width: 316px;
}

.logo h1 {
  padding: 23px 6px 0 0;
}

.logo h1 a{
  font: 2.5656rem "Lucida Sans";
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.logoForMobile {
  display: none;
}
/*Стили панели навигации*/
nav ul {
  display: flex;
  background-color: #f5c506;
  margin-top: 43px;
  box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
}

nav ul li a {
  display: block;
  position: relative;
  transition: 0.5s;
  font: 1.0656rem "Segoe WP";
  color: #9b7d08;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: #fdea9c;
}

.aboutUs {
  padding: 9px 23px 10px 71px;
  border-right: 1px solid #DCB105;
}

.aboutUs:before {
  content: url(./assets/images/icon/person.png);
  position: absolute;
  top: 11px;
  left: 39px;
}

.services {
  padding: 9px 18px 10px 42px;
  border-right: 1px solid #DCB105;
}

.services:before {
  content: url(./assets/images/icon/services.png);
  position: absolute;
  top: 11px;
  left: 14px;
}

.contact {
  padding: 10px 22px 8px 49px;
}

.contact:before {
  content: url(./assets/images/icon/contact.png);
  position: absolute;
  top: 11px;
  left: 17px;
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}

.videoForMobile {
  display: none;
}

.topBlock .video {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

/*Стили для кнопок видео*/
.bigButtonPlay {
  position: absolute;
  top: 130px;
  left: 241px;
  width: 67px;
  height: 67px;
  padding: 6px 0 0 5px;
  background-color: rgba(245, 196, 6, 0.72);
  border-radius: 33.5px;
  border: none;
}

.smallButtonPlay {
  position: absolute;
  top: 278px;
  left: 29px;
  width: 27px;
  height: 27px;
  padding: 4px 0 0 4px;
  background-color: rgba(245, 196, 6, 0.37);
  border: none;
}

.smallButtonPlay svg {
  opacity: 0.37;
}

.volume {
  position: absolute;
  top: 285px;
  right: 19px;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  border: 0;
}
/*Стилизация прогрессбара*/
progress {
  position: absolute;
  top: 286px;
  left: 80px;
  border: none;
  height: 12px;
  width: 404px;
  border-radius: 6px;
  background-color: rgba(245, 196, 6, 0.15);
}

progress::-webkit-progress-bar {
  height: 12px;
  width: 404px;
  border-radius: 6px;
  background-color: rgba(245, 196, 6, 0.15);
}
progress::-webkit-progress-value {
  height: 12px;
  width: 404px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(245, 196, 6);
}
progress::-moz-progress-bar {
  height: 12px;
  width: 404px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(245, 196, 6);
}

progress::-ms-fill {
  height: 12px;
  width: 404px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(245, 196, 6);
  border-right: none;
}
/*Текст слайдера*/
.slider h2 {
  font: 3.9406rem "Asap Regular";
  color: #f5c506;
  width: 398px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 70.5px 23px 0 0;
}

.slider h2 span {
  color: #fff;
  display: block;
  margin-top: -3px;
  margin-right: -16px;
}
/*Кнопки вперёд назад слайдера*/
.leftArrow, .rightArrow {
  position: absolute;
  padding-top: 3px;
  top: 132px;
  width: 32px;
  height: 57px;
  border: none;
  background-color: rgb(245, 196, 6);
  transition: 0.5s;
}

.leftArrow:hover, .rightArrow:hover {
  background-color: rgba(245, 196, 6, 0.71);
}

.leftArrow{
  padding-left: 3px;
  left: -140px;
}

.rightArrow {
  padding-right: 3px;
  right: -140px;
}
/*Стилизация 3 одинаковых блоков*/
.svgIcons {
  background-image: url(./assets/images/lineBg.png);
}

.svgIcons .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.svgIcons .wrapper h3 {
  font: 1.6906rem "Segoe UI Light";
  text-transform: uppercase;
}

.betterDesign {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.betterForMobile {
  display: none;
}

.betterDesign svg {
  margin: 61px 0 0 113px;
}

.betterDesign h3 {
  margin: 6px 0 32px 89px;
}

.customiseForMobile {
  display: none;
}

.customise {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.customise svg {
  margin: 37px 0 0 135px;
}

.customise h3 {
  margin: 10px 0 30px 111px;
}

.itsFreeForMobile {
  display: none;
}

.itsFree {
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.itsFree svg {
  margin: 54px 0 0 119px;
}

.itsFree h3 {
  margin: 5px 0 31px 113px;
}
/*Стили блока с интерактивом*/
.interactive {
  background-image: url(./assets/images/bgInteractive.jpg);
  -webkit-box-shadow: inset 0px -13px 10px -13px rgba(0,0,0,0.75);
  box-shadow: inset 0px 13px 10px -13px rgba(0,0,0,0.75);
  padding-bottom: 21px;
}

.interactive h3 {
  font: 2.3156rem "PT Sans Regular";
  color: #fff;
  text-transform: uppercase;
  padding: 32px 0 0 1px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 130px;
}
/*Стили блока с прикреплённым календарём*/
.note {
  position: relative;
  width: 341px;
  box-sizing: border-box;
  background-color: #ec9e03;
  padding: 16px 37px 0 29px;
}

.note p {
  font: 1.8156rem "Segoe WP Light";
  color: #fff;
}

.note button {
  position: absolute;
  bottom: 9px;
  right: 15px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.note .date {
  position: absolute;
  left: 0;
  bottom: -86px;
  width: 113px;
  box-sizing: border-box;
  background-color: #ddb101;
}

.note .date p{
  font: 1.3156rem "Segoe UI";
  color: #b26529;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 0 3px 0;
  line-height: 1.25;
}

.note .date p span {
  display: block;
  font: bold 3.1906rem "Segoe UI Bold";
  color: #fff;
  line-height: 0.6;
  padding-bottom: 10px;
}
/*Стили видео в .interactive*/
.interactive .video {
  width: 315px;
  margin-left: -35px;
  position: relative;
  -webkit-box-shadow: 41px 94px 300px -65px rgba(255,255,255,1);
  -moz-box-shadow: 41px 94px 300px -65px rgba(255,255,255,1);
  box-shadow: 41px 94px 300px -65px rgba(255,255,255,1);
}

.interactive .video video{
  display: block;
  border-bottom: none;
}

.interactive .video .bigButtonPlay {
  position: absolute;
  top: 93px;
  left: 130px;
  width: 61px;
  height: 61px;
  padding: 6px 0 0 5px;
  background-color: rgba(245, 196, 6, 0.72);
  border-radius: 30.5px;
  border: none;
}
/*Стили блока twitter*/
.twitter {
  position: relative;
  width: 329px;
  margin-right: 2px;
  background-color: #ec9e03;
}

.twitter svg {
  padding: 59px 0 0 83px;
}

.twitter span {
  position: absolute;
  right: 18px;
  top: 11px;
  font: 1.5656rem "Segoe WP Light";
  color: #fff;
}

.twitter button {
  position: absolute;
  bottom: 9px;
  right: 9px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.twitter .messages {
  display: none;
}
/*Стили для swipeLine*/
.swipeLine {
  width: 896px;
  height: 15px;
  border-radius: 7.5px;
  background-color: rgba(255, 255, 255, 0.48);
  margin-left: 73px;
}

.place {
  width: 197px;
  height: 15px;
  background-color: #ec9e03;
  border-radius: 7.5px;
  margin-left: 247px;
  cursor: pointer;
}
/*Стили для блока с девайсами и списком*/
.beforeFooter {
  background-image: url(./assets/images/bgDevices.jpg);
  padding: 36px 0 96px 0;
  -webkit-box-shadow: inset 0px -60px 5px -57px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -60px 5px -57px rgba(0,0,0,0.75);
  box-shadow: inset 0px -60px 5px -57px rgba(0,0,0,0.75);
}

.beforeFooter .wrapper h3 {
  margin-left: 210px;
  font: 2.6906rem "PT Sans Regular";
  color: #f5c506;
  text-transform: uppercase;
}
/*Стили блока с девайсами*/
.devices {
  position: relative;
  margin:45px 71px 0 18px;
}

.devices img {
  vertical-align: top;
  margin-right: 20px;
}

.tablet {
  padding-top: 42px;
}

.devices .tablet {
  margin-right: 21px;
}

.mobile {
  padding-top: 152px;
}

.sale {
  position: absolute;
  top: -43px;
  left: -20px;
  width: 116px;
  height: 116px;
  border-radius: 58px;
  background-color: #f5c506;
  font: 1.1712rem "PT Sans Narrow Bold";
  color: #fff;
  text-transform: uppercase;
  padding: 48px 0 0 7px;
  box-sizing: border-box;
}
/*Стили списка*/
.beforeFooter ul {
  width: 360px;
  font: 1.375rem "Open Sans";
  color: #a9a9a7;
  margin-top: 88px;
  padding-left: 10px;
}

.beforeFooter ul li {
  list-style-image: url(./assets/images/icon/ellipse.png);
  padding-left: 12px;
}

.beforeFooter .ul li:first-child {
  margin-bottom: 20px;
}

.beforeFooter .ul li:nth-child(2) {
  line-height: 1.25;
  margin-bottom: 10px;
}

.beforeFooter .ul li:nth-child(3) {
  margin-bottom: 23px;
}

.beforeFooter .ul li:last-child {
  line-height: 1.25;
}

.devicePlusUl {
  display: flex;
}

footer {
  background-color: #4c4c4c;
  padding: 6px 0 4px 0;
}

.logo-footer-for-mobile {
  display: none;
}

footer .logo {
  width: 223px;
}

footer h2 {
  padding-top: 11px;
  padding-right: 6px;
  text-shadow: 0px 2px 1px #000000;
}

footer h2 a{
  font: 1.8156rem "Lucida Sans";
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
/*Медиазапросы под header*/
@media screen and (max-width: 640px) {
  body {
    width: 640px;
  }

/*Адаптив логотипа*/
  header {
    position: relative;
  }

  header:after {
    content: url(./assets/images/shadowBottom.png);
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -7.6px;
  }

  .topBlock .wrapper {
    width: 100%;
  }

  .topBlock {
    padding: 0;
    background-image: none;
    box-shadow: none;
  }

  .topBlock .logo {
    width: 186px;
    box-sizing: border-box;
    padding: 11px 0 0 12px;
    background-image: url(./assets/images/bgLogoHeaderMobile.png);
    background-size: cover;
  }

  .logoForMobile {
    display: block;
  }

  .logoForDesktop {
    display: none;
  }

  .topBlock .logo h1 {
    padding: 10px 25px 0 0;
    text-shadow: 0px 2px 1px #000000;
  }

  .topBlock .logo h1 a{
    font-size: 1.2056rem;
  }
/*Адаптив навигации*/
  nav ul {
    margin: 0;
    box-shadow: none;
    background-image: url(./assets/images/bgNavForMobile.png);
  }

  nav ul li a {
    font: 1.1906rem "Segoe WP";
  }

  .aboutUs {
    padding: 18px 23px 18px 58.412px;
    border-right: 1px solid #DCB105;
  }

  .aboutUs:before {
    content: url(./assets/images/icon/personForMobile.png);
    position: absolute;
    top: 20px;
    left: 23px;
  }

  .services {
    padding: 18px 14px 18px 38px;
    border-right: 1px solid #DCB105;
  }

  .services:before {
    content: url(./assets/images/icon/servicesForMobile.png);
    position: absolute;
    top: 21px;
    left: 8px;
  }

  .contact {
    padding: 18px 12px 18px 53.5px;
  }

  .contact:before {
    content: url(./assets/images/icon/contactForMobile.png);
    position: absolute;
    top: 20px;
    left: 12px;
  }
/*Адаптив слайдера*/
  .slider {
    margin: 0;
  }

  .slider .leftArrow, .slider .rightArrow, .slider h2 {
    display: none;
  }

  .videoForDesktop {
    display: none;
  }

  .videoForMobile {
    display: block;
  }

  .topBlock .video {
    margin: 0;
  }

  .topBlock .video video{
    box-shadow: none;
  }

  .bigButtonPlay {
    top: 130px;
    left: 295px;
  }

  .smallButtonPlay {
    top: 278px;
    left: 83px;
  }

  .volume {
    top: 285px;
    right: 56px;
  }

  progress {
    top: 286px;
    left: 134px;
  }
/*Адаптив 3-х одинаковых блоков Better, Customise и itsFree*/
  .svgIcons {
    position: relative;
    top: -4px;
  }

  .svgIcons .wrapper {
    width: 100%;
    padding-bottom: 23px;
    background-image: url(./assets/images/lineBg.png);
    position: relative;
    top: -5px;
  }

  .svgIcons .wrapper h3 {
    font-size: 1.4406rem;
  }

  .betterForDesktop {
    display: none;
  }

  .betterForMobile {
    display: block;
    padding: 42px 0 0 45px;
  }

  .betterDesign {
    border-left: none;
  }

  .betterDesign svg {
    margin: 0;
  }

  .betterDesign h3 {
    margin: 17px 0 0 18px;
  }

  .customiseForMobile {
    display: block;
    padding: 38px 0 0 82px;
  }

  .customiseForDesktop {
    display: none;
  }

  .customise {
    border: none;
  }

  .customise svg {
    margin: 0;
  }

  .customise h3 {
    margin: 12px 0 0 57px;
  }

  .itsFreeForDesktop {
    display: none;
  }

  .itsFreeForMobile {
    display: block;
    padding: 38px 0 0 70px;
    }

  .itsFree {
    border-right: none;
  }

  .itsFree svg {
    margin: 0;
  }

  .itsFree h3 {
    margin: 13px 0 0 69px;
  }

  .interactive {
    background: none;
    box-shadow: none;
    padding-bottom: 0;
  }

  .interactive section {
    margin-bottom: 0;
    margin-top: 6px;
    justify-content: space-around;
  }

  .interactive .wrapper{
    width: 100%;
  }

  .interactive h3 {
    display: none;
  }

  .note {
    width: 299px;
    padding: 14px 38px 0 27px;
    margin:0 0 9px 3.5px;
  }

  .note p {
    font-size: 1.8106rem;
    line-height: 1.1742;
  }

  .note button {
    bottom: 13px;
    right: 11px;
  }

  .interactive .video {
    margin: 0 3.5px 9px 0;
  }

  .interactive section {
    flex-wrap: wrap;
  }

  .twitter {
    display: flex;
    width: 100%;
    background-color: #f5c507;
    padding-bottom: 11px;
  }

  .twitter span {
    display: none;
  }

  .twitter button {
    display: none;
  }

  .twitter svg {
    padding: 59px 0 0 86px;
  }

  .twitter .messages {
    display: block;
  }

  .messages {
    margin: 24px 0 0 82px;
  }

  .messages p {
    position: relative;
    width: 216px;
    padding: 7px 40px 19px 21px;
    font: 0.8156rem "Arial Regular";
    color: #8f8e8e;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .messages p:before {
    content: url(./assets/images/bgMessageOne.png);
    position: absolute;
    top: 0;
    left: -6px;
    z-index: -1;
  }

  .messageTwo:before {
    opacity: 0.7;
  }

  .messageThree:before {
    opacity: 0.6;
  }

  form {
    position: relative;
  }

  input[type=text] {
    padding:0 73.5px 0 10px;
    width: 272px;
    box-sizing: border-box;
    height: 31px;
    margin-left: 6px;
    border-radius: 10px;
    border: 1px solid #D0A806;
    -webkit-box-shadow: inset 5px 5px 14px -5px rgba(0,0,0,0.18);
    -moz-box-shadow: inset 5px 5px 14px -5px rgba(0,0,0,0.18);
    box-shadow: inset 5px 5px 14px -5px rgba(0,0,0,0.18);
  }

  input[type=submit] {
    position: absolute;
    top: 1px;
    left: 208.1px;
    width: 69px;
    height: 29px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border: none;
    font: 0.9406rem "Arial Regular";
    color: #fff;
    background: rgba(207,142,12,1);
    background: -moz-linear-gradient(45deg, rgba(207,142,12,1) 0%, rgba(234,169,39,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(207,142,12,1)), color-stop(100%, rgba(234,169,39,1)));
    background: -webkit-linear-gradient(45deg, rgba(207,142,12,1) 0%, rgba(234,169,39,1) 100%);
    background: -o-linear-gradient(45deg, rgba(207,142,12,1) 0%, rgba(234,169,39,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(207,142,12,1) 0%, rgba(234,169,39,1) 100%);
    background: linear-gradient(45deg, rgba(207,142,12,1) 0%, rgba(234,169,39,1) 100%);
  }

  .date {
    display: none;
  }

  .swipeLine {
    display: none;
  }

  .ul {
    display: none;
  }

  .beforeFooter {
    padding: 30px 0 55px 19px;
    background-color: #474747;
    background-image: none;
  }

  .beforeFooter .wrapper{
    width: 100%;;
  }

  .beforeFooter .wrapper h3 {
    font: 2.4406rem "Open Sans";
    margin: 0 0 28px 0;
  }

  .devices {
    margin: 45px 0px 0 38px;
  }

  .sale {
    position: absolute;
    left: -30px;
  }

/*Адаптив footer*/
  footer .wrapper{
    width: 100%;
  }

  footer h2 {
    padding-top: 7px;
  }

  footer h2 a{
    font-size: 1.0425rem;
  }

  footer .logo {
    width: 136px;
    margin-left: 65px;
  }

  .logo-footer-for-mobile {
    display: block;
  }

  .logo-footer-for-desktop {
    display: none;
  }
}
